@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
}
.container {
    height: 100vh;
    width: 100vw;
}
.header {
    overflow: hidden;
    position: fixed;
    height: 60px;
    width: 800px;
    top: 20px;
    left: 50%;
    border-radius: 30px;
    background-color: #ffffff80;
    backdrop-filter: blur(10px);
    transform: translateX(-50%);
    transition: background-color 400ms;
    z-index: 10;
}
.header:hover {
    background-color: #ececec80;
}
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 40px;
}
.header ul a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}
.header ul a:hover {
    text-decoration: underline;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-size: 34px;
}
.hero h1 {
    font-size: 3.5em;
}
.hero p {
    font-size: 1em;
}
.hero p u {
    text-decoration-style: wavy;
    text-decoration-color: #ffa023;
    text-decoration-thickness: 4px;
}
.spacer {
    height: 800px;
    width: 100%;
    background-color: #eeeeee;
}
.scroll {
    display: flex;
    height: fit-content;
    width: 100%;
}
.scroll-left {
    width: 50%;
}
.scroll-left-section {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-right: 40px;
    font-size: 18px;
}
.scroll-left-section-wpr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 450px;
    padding: 50px;
}
.section-lnk {
    text-decoration: none;
    font-size: 1em;
    color: #000000;
    margin-bottom: 10px;
}
.section-title {
    line-height: 1.1em;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 10px;
}
.section-sub {
    font-size: 1em;
    margin-bottom: 40px;
}
.section-btn {
    text-decoration: none;
    width: fit-content;
    color: #000000;
    font-size: 1em;
    font-weight: 300;
    padding: 14px 30px;
    border-radius: 30px;
    border: 1px solid #000000;
    transition: background-color 300ms, color 300ms;
}
.section-btn:hover {
    color: #ffffff;
    background-color: #000000;
}
.scroll-right {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 50%;
    padding-left: 40px;
}
.scroll-right-window {
    position: relative;
    overflow: hidden;
    height: 550px;
    width: 550px;
    border-radius: 80px;
    background-color: #ffd796;
}
.scroll-right-window > div {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.scroll-right-parallax-i {
    top: 0px;
    background-image: url("./assets/bruce.jpg");
}
.scroll-right-parallax-ii {
    background-image: url("./assets/donna.jpg");
}
.scroll-right-parallax-iii {
    background-image: url("./assets/dennis.jpg");
}
.scroll-right-parallax-iv {
    background-image: url("./assets/jessica.jpg");
}